<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1069460218211-7li6q41a8rv3533nomdu8hlfoha4d7fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069460218211-7li6q41a8rv3533nomdu8hlfoha4d7fb</string>
	<key>API_KEY</key>
	<string>AIzaSyANgRiKBPWs9EbdgaaQ8a-8IH5ruHThSS8</string>
	<key>GCM_SENDER_ID</key>
	<string>1069460218211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Slidareteam.Slidare3</string>
	<key>PROJECT_ID</key>
	<string>slidare-b0bbf</string>
	<key>STORAGE_BUCKET</key>
	<string>slidare-b0bbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069460218211:ios:f2fc9407c06a2548</string>
	<key>DATABASE_URL</key>
	<string>https://slidare-b0bbf.firebaseio.com</string>
</dict>
</plist>